h2 {
  letter-spacing:  0.03125em;
}

form label {
  font-size: 0.85rem;
  font-weight: 500;
}

.form-control,
.form-select {
  border: 0.0625em solid #0a2351;
}

.btn-primary {
  background-color: #2f58a7;
  border-color: #2f58a7;
}

.btn-primary:hover {
  background-color: #1d3f7c;
}

.container {
   max-width: 75em; /* 1200px */
  min-height: 50vh; /* altura proporcional a la pantalla */
}
